.product-title {
  text-align: center;

  width: 90%;
  margin: 0 auto;
  margin-top: 30px;

  h2 {
    font-size: 30px;
    font-weight: bold;
    color: $black;
    margin-bottom: 0px;
  }

  p {
    color: lightgray;
  }

  h3 {
    color: $black;
    font-size: 16px;
  }
}

.products-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  width: 90%;
  margin: 0 auto;
}


@media(max-width: 600px) {
  .product-title {
    h2 {
      font-size: 20px;
      font-weight: bold;
      color: $black;
    }

    p {
      color: lightgray;
    }

    h3 {
      color: $black;
      font-size: 14px;
    }
  }

  .products-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:8px;
  }
}

// this is if i want to scroll horizontal
// .home-products {
//   width: 100%;
//   margin: 0 auto;
//   display: flex;
//   overflow-x: auto;




// }

// .home-products::-webkit-scrollbar {
//   display: none;
// }
