<h2> category show</h2>

<% @categories.each do |category| %>
<%= link_to category_path(category)  do%>
<%= category.name %>
<% end %>
<% end %>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @category.photo %>);">
  <div class="d-flex align-item-center justify-content-center">
    <h1><%= @category.name %></h1>
  </div>
</div>
