
<%= simple_form_for([ product, review ], remote: true )do |form| %>
<p style="color: grey; font-size: 14px;">Review:</p>
<%= form.input :content, input_html: { class: "form-control form-control-lg" }, label: false %>
<p style="color: grey; font-size: 14px;">Rating:</p>
<%= form.input :rating, collection: [1,2,3,4,5], label: false  %>
<div class="text-right">
  <%= form.button :submit, 'POST', class: 'btn btn-secondary' %>
</div>
<% end %>



