.line-wrapper {
  padding: 12px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
}

.line-first {
  display: flex;
}
.line-image {
  img {
    width: 70px;
    height: 70px;
  }
}

.line-description {

  h2 {
    color: $black;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
  }
  a {
    font-size: 12px;
  }

}


.line-quantity {
 font-size: 14px;
 text-align: center;
 p {
  font-size: 12px;
  margin-bottom: 0px;
}
}
