.cart-container {
  width: 90%;
  margin: 0 auto;
}
// shopping card tittle
.keep-shopping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
  h2 {
    font-size: 16px;
    color: $black;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  i {
    color: grey;
    background: transparent;
    margin-right: 10px;
  }

  a {
    color: $black;
    margin-bottom: 0px;
    font-size: 16px;
  }

  p {
    margin-bottom: 0px;
    font-size: 16px;
  }
}
//container of the line-items
.cart-items {
  margin-bottom: 100px;
}

.price {
  border-top: lightgrey solid 1px;
  color: $black;
  padding: 10px 0px;
  padding-top: 20px;
  h2 {
    font-weight: bold;
    font-size: 23px;
  }

  h3 {
    font-size: 22px;

  }
}
// the subtotal and shipping
.price-top {
  color: $black;
  h3 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

//delete cart
.delete-cart {
  padding: 20px 0px;
  text-align: right;
  border-top: 1px solid lightgrey;
  p {
    margin-bottom: 0px;
  }
}
